@import '../variables';


.card-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: $spacing-3;
}

.card-list .card {
  width: 100%;
  border-radius: $border-radius;
  background-color: rgba($white, 0.6);
  box-shadow: $box-shadow-sm;
  aspect-ratio: 0.9 / 1;
  transition: $transition-base;

  &:hover {
    transform: translateY(-5px);
  }

  img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: $border-radius $border-radius 0 0;
    flex-shrink: 0;
  }
}

.card-list .card-text {
  padding: $spacing-2;
  font-size: 0.9rem;
  color: $dark-color;
}

