@import '../../../styles/mixins';

// 기본 버튼 스타일
.pethaul-btn {
  @include button-reset;
  box-sizing: border-box;
  padding: $spacing-1 $spacing-2;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  font-family: $font-family-base;
  font-weight: 700;
  transition: $transition-base;
  text-align: center;
  white-space: nowrap;
  user-select: none;

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  // 버튼 변형
  &--primary {
    background-color: $white;
    color: $primary-color;

    &:hover:not(:disabled) {
      background-color: $primary-color;
      color: $white;
      border-color: $border-color;
    }
    &:active:not(:disabled) {
      background-color: $primary-color;
      color: $white;
      border-color: $border-color;
    }
    &:focus:not(:disabled) {
      background-color: $primary-color;
      color: $white;
      border-color: $border-color;
    }
  }

  &--secondary {
    background-color: $secondary-color;
    color: $primary-color;
    border: 1px solid $border-color;

    &:hover:not(:disabled) {
      background-color: $secondary-color;
      color: $primary-color;
      border-color: $border-color;
    }
  }

  &--success {
    background-color: $success-color;
    color: $white;
    border: 1px solid $success-color;

    &:hover:not(:disabled) {
      background-color: darken($success-color, 10%);
    }
  }

  &--danger {
    background-color: $danger-color;
    color: $white;
    border: none;
    border-radius: $border-radius;
    padding: $spacing-2 18px;

    &:hover:not(:disabled) {
      background-color: darken($danger-color, 10%);
    }
  }

  &--warning {
    background-color: $warning-color;
    color: $primary-color;
    border: 1px solid $warning-color;

    &:hover:not(:disabled) {
      background-color: darken($warning-color, 10%);
    }
  }

  &--outline {
    background-color: transparent;
    border: 1px solid $border-color;
    color: $primary-color;

    &:hover:not(:disabled) {
      background-color: $primary-color;
      color: $white;
    }
  }

  &--cart {
    background-color: $accent-yellow;
    border: 1px solid $border-color;
    color: $primary-color;

    &:hover:not(:disabled) {
      background-color: darken($accent-yellow, 10%);
      color: $primary-color;
    }
  }

  &--buy {
    background-color: $primary-color;
    border: 1px solid $border-color;
    color: $white;

    &:hover:not(:disabled) {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }

  &--ghost {
    background-color: transparent;
    color: $primary-color;
    border: none;

    &:hover:not(:disabled) {
      background-color: rgba($primary-color, 0.1);
    }
  }

  &--dropdown {
    background-color: transparent;
    color: $primary-color;
    border: none;
    justify-content: flex-start;
    padding: $spacing-1 $spacing-1;
    text-align: left;
    width: 100%;
    gap: $spacing-1;

    &:hover:not(:disabled),
    &:focus-visible {
      color: $primary-color;
    }
  }

  &--auth-primary {
    background-color: $secondary-color;
    color: $black;
    padding: $spacing-1 $spacing-2;

    &:hover:not(:disabled) {
      background-color: $primary-color;
      color: $white;
    }
  }

  &--auth-secondary {
    background-color: $white;
    color: $black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-2;

    > img {
      width: 24px;
      height: 24px;
    }

    &:hover:not(:disabled) {
      background-color: darken($accent-blue, 10%);
      color: $primary-color;
    }
  }

  // 버튼 크기
  &--sm {
    padding: $spacing-1 $spacing-2;
    font-size: $font-size-small;
  }

  &--md {
    padding: $spacing-2 $spacing-3;
    font-size: $font-size-base;
  }

  &--lg {
    padding: $spacing-2 $spacing-4;
    font-size: $font-size-base;
    border-radius: $border-radius-lg;
  }

  // 전체 너비
  &--full-width {
    width: 100%;
  }
}


// 아이콘 스타일
.btn-icon {
  display: inline-flex;
  align-items: center;
  margin-right: $spacing-1;
}

