@import '../../styles/variables';
@import '../../styles/mixins';

.main__top {
  padding-bottom: $spacing-5;
}

.main__bottom {
  position: relative;
  margin-top: $spacing-6;
  padding: $spacing-6 0 $spacing-6;
}

.main__bottom::before {
  content: '';
  position: absolute;
  inset: 0;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  background-color: $accent-blue;
  border-radius: 0 15% 0 0;
  box-shadow: -2px -4px 0 0 rgba(0, 0, 0, 0.1);
  z-index: -1;
}

.main__bottom > * + * {
  margin-top: $spacing-6;
}

@media (max-width: 767px) {
  .main__bottom::before {
    border-radius: 0 10% 0 0;
  }
}

@media (max-width: 510px) {
  .main__bottom::before {
    border-radius: 0 6% 0 0;
  }
}

