// RegisterForm Styles
@import '../../../styles/variables';
@import '../../../styles/mixins';

.register-form__group {
  text-align: left;

  .form-label {
    font-size: $font-size-small;
    color: $primary-color;
  }
}
.register-form__selector {
  width: 100%;
}



