@import '../../styles/variables';
@import '../../styles/mixins';

.pet-success-card__content {
  display: flex;
  flex-direction: column;
  gap: $spacing-3;

  @media (min-width: 576px) {
    flex-direction: row;
    align-items: center;
  }
}

.pet-success-card__image {
  max-width: 400px;
  img {
    border-radius: $border-radius;
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1;
  }
}

.pet-success-card__details {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: $spacing-1;
}

.pet-success-card__name {
  font-weight: 700;
  color: $primary-color;
}


.pet-form {
  display: flex;
  flex-direction: column;
  gap: $spacing-3;
}

.pet-form__label {
  display: block;
  font-weight: 600;
  margin-bottom: $spacing-1 / 2;
  letter-spacing: 0.02em;
  color: $text-color-secondary;
}

@media (max-width: 768px) {
  #pet-create-section {
    padding: 0 $spacing-2;
  }
}


