// Pethaul Checkbox Component Styles
// ================================================

@import '../../../styles/variables';
@import '../../../styles/mixins';

.checkbox-item {
  display: inline-flex;
  align-items: center;
}

.pethaul-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  position: relative;
  padding-left: 28px;
  font-size: $font-size-base;
  font-family: $font-family-base;
  color: $dark-color;

  input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
    background-color: $white;
    border: 2px solid rgba($dark-color, 0.3);
    border-radius: 4px;
    transition: $transition-base;

    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 6px;
      top: 2px;
      width: 5px;
      height: 10px;
      border: solid $white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }

  &:hover input ~ .checkmark {
    border-color: $primary-color;
  }

  input:checked ~ .checkmark {
    background-color: $primary-color;
    border-color: $primary-color;

    &:after {
      display: block;
    }
  }

  input:disabled ~ .checkmark {
    background-color: $light-color;
    border-color: rgba($dark-color, 0.2);
    cursor: not-allowed;
  }

  input:disabled:checked ~ .checkmark {
    background-color: rgba($primary-color, 0.5);
    border-color: rgba($primary-color, 0.5);
  }

  .checkbox-label {
    margin-left: $spacing-2;
  }

  // 상태 변형
  &--success {
    .checkmark {
      border-color: $success-color;
    }

    input:checked ~ .checkmark {
      background-color: $success-color;
      border-color: $success-color;
    }
  }

  &--error {
    .checkmark {
      border-color: $danger-color;
    }

    input:checked ~ .checkmark {
      background-color: $danger-color;
      border-color: $danger-color;
    }
  }

  &--disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
}

