@import '../../styles/variables';

.order-item-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: $border-radius;
  flex-shrink: 0;
}

@media (max-width: 991px) {
  .order-item-img {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 767px) {
  .order-item-img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 576px) {
  .order-item-img {
    width: 70px;
    height: 70px;
  }
}

