@import '../../../styles/variables';

.page-header {
  .section-title {
    font-size: 1.75rem;
    font-weight: 700;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__actions {
    min-width: 120px;

    .pethaul-btn {
      white-space: nowrap;
    }
  }
}

@media (max-width: 576px) {
  .page-header {
    .section-title {
      font-size: 1.5rem;
    }
  }
}

